<div class="nav">
  <svg (click)="close()" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="logo" width="105px" height="92px" viewBox="0 0 56.360085 46.405453" version="1.1" id="svg1"
    xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
    <defs id="defs1" />
    <g id="layer1">
      <g id="g9" transform="translate(-41.948485,-59.79822)">
        <circle style="
            opacity: 1;
            fill: #ffffff /**#fad3e5**/;
            fill-opacity: 1;
            stroke: none;
            stroke-width: 1.532;
            stroke-linecap: round;
          " id="circle1" cx="77.686821" cy="80.419968" r="20.621748" />
        <circle style="
            opacity: 1;
            fill: none;
            stroke: #000000;
            stroke-width: 1.532;
            stroke-linecap: round;
          " id="path1" cx="72.19799" cy="83.709846" r="20.621748" />
        <g id="g7" transform="rotate(26.259248,47.335584,116.96236)">
          <path style="
              fill: #fad3e5;
              fill-opacity: 1;
              stroke: #000000;
              stroke-width: 1.532;
              stroke-linecap: round;
            " d="m 41.601368,63.44922 v 43.57936" id="path3" />
          <path style="
              fill: #000000;
              fill-opacity: 1;
              stroke: #000000;
              stroke-width: 1.532;
              stroke-linecap: round;
            "
            d="m 41.601368,87.692544 c 0,0 3.076245,-6.931636 3.076245,-10.60341 0,-3.671774 -3.076245,-13.639914 -3.076245,-13.639914"
            id="path4" />
        </g>
        <g id="g8" transform="rotate(-18.568692,-31.474729,77.433076)">
          <path style="
              fill: #fad3e5;
              fill-opacity: 1;
              stroke: #000000;
              stroke-width: 1.532;
              stroke-linecap: round;
            " d="M 44.39974,91.887157 40.597692,130.43467" id="path5" />
          <ellipse style="
              opacity: 1;
              fill: #000000;
              fill-opacity: 1;
              stroke: none;
              stroke-width: 1.53298;
              stroke-linecap: round;
            " id="path8" cx="53.789913" cy="92.040123" rx="3.7282159" ry="7.8166394"
            transform="matrix(0.99878244,0.049332,-0.09976119,0.99501141,0,0)" />
        </g>
      </g>
    </g>
  </svg>
  <h1 (click)="close()" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Traiteur Coppe</h1>
  <div class="menu">
    <p routerLink="/menus" routerLinkActive="active" ariaCurrentWhenActive="page" class="page">menus</p>
    <p routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" class="page">contact</p>
    <p  class="page">login/signup</p>
    <p class="page">sign off</p>
    <p routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page" class="page">admin</p>
    <app-profile-card routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page" class="test"/>
  </div>
  <svg (click)="toggle()" class="burger" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M4 7a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H5a1 1 0 0 1-1-1zm0 5a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H5a1 1 0 0 1-1-1zm0 5a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H5a1 1 0 0 1-1-1z"
      fill="#0D0D0D" />
  </svg>
</div>
<div [@openClose]="isOpen ? 'open' : 'closed'" class="side">
  <app-profile-card (click)="close()" routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page"/>
  <p (click)="close()" routerLink="/menus" routerLinkActive="active" ariaCurrentWhenActive="page" class="spage">menus</p>
  <p (click)="close()" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" class="spage">contact</p>
  <p class="spage">login/signup</p>
  <p class="spage">sign off</p>
  <p (click)="close()" routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page" class="spage">admin</p>
</div>

<div class="navstop"></div>
