
<main>
  <app-navbar />
  <div class="about">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ornare velit
      nec lectus placerat bibendum. Sed dapibus, ante ac porttitor pulvinar,
      nisi lorem rhoncus leo, nec suscipit tortor risus eget nunc. Nullam felis
      libero, tempor sit amet diam at, tristique auctor dui. Nulla sed lobortis
      tortor. Donec auctor maximus facilisis. Phasellus pellentesque ex id ante
      sagittis tempus. Cras mattis vitae nibh nec scelerisque. Vestibulum ante
      ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
      Etiam commodo arcu id elit posuere dapibus eget vitae tortor. Nunc
      convallis metus non eros tincidunt semper. Pellentesque eleifend risus et
      lectus imperdiet consequat vel a eros. Morbi vehicula lorem purus, vitae
      scelerisque justo sollicitudin vitae. In hac habitasse platea dictumst.
      Nulla ultrices dapibus rhoncus. Sed semper, libero pulvinar posuere
      dapibus, mauris orci dictum sapien, convallis sagittis neque risus in mi.
      Fusce cursus porta leo, nec sodales lacus sagittis sed. Nullam maximus
      pellentesque dolor quis sollicitudin. Cras nec pellentesque lectus. Nam
      non sem sit amet felis volutpat tempor vel et ipsum. Quisque in commodo
      sem. Cras dignissim augue porttitor efficitur fringilla. Morbi a ex eros.
      Quisque nisi orci, congue eu justo non, suscipit vehicula enim. Nulla
      facilisi. Quisque purus nibh, condimentum a pretium vel, egestas vitae
      neque. Ut egestas erat eu elit consequat, nec semper nibh sagittis.
      Maecenas dictum arcu risus, non cursus erat bibendum vel. Morbi auctor,
      turpis lobortis bibendum luctus, dui ante scelerisque nisi, et condimentum
      enim risus sit amet massa. Curabitur convallis nulla sit amet metus
      finibus mollis. Quisque sollicitudin mauris sed placerat congue. In auctor
      enim ut venenatis porta. Nunc porta varius tortor, non consectetur purus
      bibendum eu. Phasellus nec sagittis magna, et imperdiet quam. Vivamus at
      arcu eget tortor condimentum varius. Aenean tincidunt ante purus,
      venenatis mattis orci eleifend eu. In tempor cursus sem nec ullamcorper.
      Aliquam eu mattis augue, id porta lorem. Fusce volutpat laoreet odio, sit
      amet fringilla ex condimentum vel.
    </p>
  </div>
  <div class="newsletter">
    <app-article />
    <app-article />
    <app-article />
    <app-article />
    <app-article />
    <app-article />
    <app-article />
    <app-article />
    <app-article />
  </div>
</main>
<router-outlet />
<style>
.newsletter{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
  .about {
    margin: 0px;
    width: 100%;
    padding: 100px 0 0 0;
  }

  p {
    padding: 0 10%;
    text-align: center;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }
</style>
