<div class="user-manager">
  <label for="username">rechercher un utilisateur a gerer</label>
  <input type="text" name="username" />
  <div class="user-list">
    <app-user-manager />
    <app-user-manager />
    <app-user-manager />
  </div>
</div>
<div class="menu-manager">
  <div class="new-menu">

  </div>
  <label for="menu-title">rechercher un menu a modifier</label>
  <input type="text" name="menu-title" />
  <div class="menu-list">
    <app-menu-manager />
    <app-menu-manager />
    <app-menu-manager />
  </div>
</div>
<div class="news-manager">
  <div class="new-news">

  </div>
  <label for="news-title">rechercher un article a modifier</label><br />
  <input type="text" name="news-tite" />
  <div class="news-list">
    <app-news-manager />
    <app-news-manager />
    <app-news-manager />
  </div>
</div>
