<div class="signupform">
<h1>Inscription</h1><br>
  <form>
    <label for="name">nom d'utilisateur</label><br>
    <input type="text" name="name" value=""><br>
    <label for="email">addresse email</label><br>
    <input type="email" name="email" value=""><br>
    <label for="phone">numéro de téléphone</label><br>
    <input type="tel" name="phone" value=""><br>
    <label for="pswd1">mot de passe</label><br>
    <input type="password" name="pswd1" value=""><br>
    <label for="pswd2">confirmer le mot de passe</label><br>
    <input type="password" name="pswd2" value=""><br>
    <input type="submit">
  </form>
</div>
<style>

.signupform{
  background: pink;
  border-radius: 25px;
  padding: 20px 30px 30px 30px;
  width: 20vw;
  margin: auto;
  margin-top: 5vw;
}
</style>
