<dialog class="main">
  <button type="button">X</button>
  <form>
    <label for="email">addresse email</label><br>
    <input type="text" name="email"><br>
    <label for="passwd">mot de passe </label><br>
    <input type="password" name="passwd"><br>
    <button type="button">login</button><br>
  </form>
  <p>pas de compte ?</p><br><p class="signup">en créer un</p>
</dialog>

<style>
button{
  position: reltive;
  justify-self: left;
}
.main{
  border-radius: 25px;
  box-shadow:0 0 20px 5px black;
  justify-content: center;
  display: flex;
  flex-flow: column;
  position: fixed;
  background: lightpink;
  padding: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
dialog::backdrop{
  background: black;
  height: 100%;
  width: 100%;
}
</style>
